<div class="row">
      <div class="large-12 small-centered columns">
        <h1 class="text-center index-head">Your results found</h1>

      </div>
    </div>


  <!-- Here the pictures begin -->
  <div class="row">
      
    <div class="large-12 columns">
      

      <div class="panel index-panel">
        <div class="row">
          <% @pictures.each do |picture| %>
        
            <div class="large-4 small-6 columns cs-style-3">
              <figure>
                <div class="blur-img">
                  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}", :class => 'index-image' %>
                </div>
                
                <figcaption>
                    <h5><%= picture.title %></h5>
                    <span class="subheader"><%= picture[:artist] %></span>

                </figcaption>
              </figure>
            </div>
          <% end %>
        </div>
      </div>
    
    </div>
  </div>
 