
    <div class="row">
    	<div class="large-12 small-centered columns">
				<h1 class="text-center index-head">Most popular pictures</h1>

    	</div>
    </div>


  <!-- Here the pictures begin -->
  <div class="row">
      
    <div class="large-12 columns">
      

      <div class="panel index-panel">
        <div class="row" id="pictures">
         <%= render partial: "picture", collection: @pictures %>
        </div>
      </div>
    
    </div>
  </div>

