 .user-head {
	color: orange;
	font-family:Nobile;
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 20px;
	padding-top: 45px;
}

.user-panel {
	margin-top: 111px;


		.user-image {
			max-height: 320px;
			max-width: 300px;
			width: 100%;
		}

		.user-side-head {
		padding-bottom: 12px;
		padding-top: 15px;
		font-family: quicksand;
		}

}

.form-containers {
	margin-top: 70px;
	background-color: silver;
	margin-bottom: 100px;

}
.form-header-container {
	padding-right: 0 !important;
	padding-left: 0 !important;


}

.form-header {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: orange;

	h1 {
		color: white;
		font-family: Nobile;
	}
}

.site-forms {
	padding-top: 30px;
	padding-bottom: 30px;
}




