 .user-head {
	color: orange;
	font-family:Nobile;
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 20px;
	padding-top: 45px;
}

.user-panel {
	margin-top: 111px;


		.user-image {
			max-height: 320px;
			max-width: 300px;
			width: 100%;
		}

		.user-side-head {
		padding-bottom: 12px;
		padding-top: 15px;
		font-family: quicksand;
		}

}

.form-containers {
	margin-top: 70px;
	background-color: silver;
	margin-bottom: 100px;

}
.form-header-container {
	padding-right: 0 !important;
	padding-left: 0 !important;


}

.form-header {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	background-color: orange;

	h1 {
		color: white;
		font-family: Nobile;
	}
}

.site-forms {
	padding-top: 30px;
	padding-bottom: 30px;
}


.blur-user-img {
	max-width: 100%;
	width: 300px;
	height: 193px ;

  -webkit-transition: all;
     -moz-transition: all;
       -o-transition: all;
      -ms-transition: all;
          transition: all;


   img {
   	height: 100% ;
   }
}
 
.blur-user-img:hover {
  -webkit-filter: grayscale(.4) opacity(0.9);
}


.user-show-image {
	max-width: 100%;
	width: 300px;
	display: block;
	position: relative;
	
}
