 <div class="row">
    	<div class="large-12 small-centered columns">
				<h1 class="text-center index-head">Categories</h1>

    	</div>
    </div>


  <!-- Here the pictures begin -->
  <div class="row">
      
    <div class="large-12 columns">
      

      <div class="panel index-panel">
        <div class="row">
          <% @categories.each do |category| %>
             <div class="large-4 small-6 columns">
              <figure class="gallery-item">
                <div class="blur-cat-img">
                  <%= link_to image_tag(category.cat_image_url), category_path(category), :class => 'category-image' %>
                </div>
                
                <figcaption class="img-title">
                    <h5><%= link_to category.name, category_path(category)%></h5>
                </figcaption>
              </figure>
          </div>
        <% end %>
      </div>
    
    </div>
  </div>
</div>
