<div class="row">
    	<div class="large-12 small-centered columns">
				<h1 class="text-center index-head"><%= @category.name %></h1>

    	</div>
    </div>


  <!-- Here the pictures begin -->
  <div class="row">
      
    <div class="large-12 columns">
      

      <div class="panel index-panel">
        <div class="row">
          <% @pictures_in_category.each do |pic| %>
             <div class="large-4 small-6 columns cs-style-3">
              <figure>
                <div class="blur-img">
                  <%= link_to image_tag(pic.url), picture_path(pic), :class => 'index-image' %>
                </div>
                
               <figcaption>
                    <h5><%= pic.title %></h5>
                    <span class="subheader"><%= pic.artist %></span>

                </figcaption>
              </figure>
          </div>
        <% end %>
      </div>
    
    </div>
  </div>
</div>
